<div class="container">
    <div class="accept-modal-backdrop js-accept-modal-backdrop">
        <div class="accept-modal-window js-accept-modal-window">
            <h2 class="accept-modal-title">Are you sure?</h2>

            <ul class="button-list">
                <li class="button-item">
                    <button class="btn-cancel js-accept-btn-clear" type="button">Clear</button>
                </li>
                <li class="button-item">
                    <button class="btn-apply js-accept-btn-cancel" type="button">Close</button>
                </li>
            </ul>
        </div>
    </div>
</div>