<!-- Modal Window -->
<div class="container">
    <div class="modal-backdrop js-modal-backdrop">
        <div class="modal-window js-modal-window">
            <h2 class="modal-title">New Note</h2>

            <form class="modal-form js-modal-form">
                <input class="modal-input" type="text" id="text-note" name="text-note" placeholder="Input your note..."
                    autofocus>

                <ul class="button-list">
                    <li class="button-item">
                        <button class="btn-cancel js-btn-cancel" type="button">Cancel</button>
                    </li>
                    <li class="button-item">
                        <button class="btn-apply js-btn-apply" type="submit">Apply</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>