.form-select-list {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    border: 2px solid #5850dd;
    height: 38px;
    background-color: #5850dd;
    border-radius: 5px;
    color: #f7f7f7;

    padding-left: 6px;
    padding-right: 6px;

    text-align: center;
    appearance: none;

    cursor: pointer;

    transition: background-color 0.3s, color 0.3s, border-color 0.3s,
        color 0.3s;
}

.form-select-list:hover,
.form-select-list:focus {
    outline: none;
    border-color: #6c63ff;
    background-color: #534cc2;
}

.option-container {
    border: 1px solid #6c63ff;
}

.form-select-item {
    border: transparent;
    background-color: #f7f7f7;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #6c63ff;
}

@media screen and (max-width: 768px) {
    .form-select-list {
        font-size: 14px;
    }

    .form-select-item {
        font-size: 14px;
    }
}