@use 'base';

.theme-button {
  background-color: #6c63ff;
  border: none;
  border-radius: 5px;
  min-width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @include transition(all, 0.3s, ease);

  &:hover,
  &:focus {
    background-color: #5850dd;
  }
}

.theme-icon-moon {
  fill: #f7f7f7;
  display: block;
}

.theme-icon-sun {
  fill: #f7f7f7;
  display: none;
}
